body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #494;
  border: 1px solid #666;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.stone {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-top: 2px;
  margin-left: 2px;
}

.stone.black {
  background: #111;
  border: 1px solid #fff;
}

.stone.white {
  background: #fff;
  border: 1px solid #111;
}

.kbd-navigation .square:focus {
  background: #fff;
}

.game-info {
  margin-top: 10px;
  margin-left: 0;
  max-width: 168px;
}

@media (min-width: 480px) {
  .game {
    display: flex;
    flex-direction: row;
  }

  .game-info {
    margin-top: 0;
    margin-left: 20px;
  }
}

.controller {
  width: 100px;
  margin-top: 10px;
}